@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Manager/ManagerList\">邮件翻译</a></li><li class=\"active\">邮件详细信息</li>";
    Manager currentManager = ViewBag.CurrentManager;
}
@using Business.Core
@using NHibernate.AdoNet
@model Business.Web.PageModel.PageTranslationFollow
@if (Model != null &&Model.EmailTranslationModel!=null && Model.EmailFollows!=null&&Model.EmailFollows.Count!=0)
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box  no-border">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="lighter">邮件详细信息</h4>
                    <div class="widget-toolbar">
                        <label>
                            <small class="green">
                                <b></b>
                            </small>
                        
                            <span onclick=" window.location.href = '/Manager/ManagerList' " class="btn btn-app btn-light btn-xs  no-border">
                                用户管理
                            </span>
                       
                        </label>
                    </div> 
                </div>
                <div class="widget-body ">
                    <div class="space-4"></div>
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 主题： </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.EmailTranslationModel.Theme </span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 时间： </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.EmailTranslationModel.SendTime </span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 语言： </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.EmailTranslationModel.LanguageName</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 询盘内容： </div>
                            <div class="profile-info-value">
                                <span class="editable " id="signup">
                                    @(new MvcHtmlString(Model.EmailTranslationModel.Content))
                                </span>
                            </div>
                        </div>
                    </div>
                    @{
                        int index = 0;
                    }
                    @foreach (var item in Model.EmailFollows)
                    {
                        index = index + 1;
                        <div class="space-4"></div>
                        <div class="profile-user-info profile-user-info-striped">

                            <div class="profile-info-row">
                                <table  class="translationfoor">
                                    <tr>
                                        <td rowspan="4" class="lefrtr">@(index)F</td>
                                        <td class="rightheader">原文:</td>
                                    </tr>
                                    <tr>
                                        <td class="rightcontent">@(new MvcHtmlString(item.OriginalContent)) &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="rightheader">译文:
                                        @if (currentManager.ManagerType == ManagerTypeEnum.Super && string.IsNullOrEmpty(item.TargetContent))
                                        {
                                            <button class="btn btn-app btn-light btn-xs btn-small" onclick=" showReplyTranlationForm('@item.Id') ">
                                                翻译
                                            </button>
                                        }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="rightcontent">
                                            @if (string.IsNullOrEmpty(item.TargetContent))
                                            {
                                                item.TargetContent = "&nbsp;<br/><br/><br/><br/>";
                                            }
                                            @(new MvcHtmlString(item.TargetContent))
                                            
                                        </td>
                                    </tr>
                                </table>
                           
                            </div>
                
                        </div>
                    }
                  
                    <div class="space-4"></div>
                

                    <div class="profile-user-info profile-user-info-striped">
                        @{

                            string display = string.Empty;
                        }
                        @if (currentManager.ManagerType == ManagerTypeEnum.Super)
                        {
                              display = "display-none";
                        }
                        <form class="form-horizontal margin-20 @(display)" id="translation_reply_form" method="post" action="/Translation/TranslationReply" enctype="multipart/form-data"   role="form">
                            <input type="hidden" name="replyfollowId" />
                            <input type="hidden" name="emailTranslationId" value="@Model.EmailTranslationModel.Id" />
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small  header-color-green ">
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="icon-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <textarea name="translationContent" class="hidden" id="translationContent"></textarea>
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div class="wysiwyg-editor" id="editor2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="space-4"></div> 
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="id-input-file-2">添加附件: </label>
                                <div class="col-sm-4">
                                    <input type="file" name="translationFile" id="id-input-file-2" />
                                    <span class="help-inline col-xs-12 col-sm-10">
                                        <span class="middle red">上传多个文件时请压缩上传,文件不超过5M</span>
                                    </span>                          
                                </div>
                            </div>
             
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-1 col-md-9">
                                     @if (currentManager.ManagerType == ManagerTypeEnum.Super)
                                     {
                                         <button id="btn_translation_reply" class="btn btn-info" type="button">
                                             <i class="icon-ok bigger-110"></i>
                                              提交翻译
                                         </button>
                                     }
                                     else
                                     {
                                           <button id="btn_translation_add" class="btn btn-info" type="button">
                                             <i class="icon-ok bigger-110"></i>
                                             转ETW国际翻译
                                         </button>
                                     }
                                </div>
                            </div>
                        </form>
                    </div>
                    
                  
                   
                    <div class="space-4"></div>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/js/markdown/markdown.min.js"></script>
    <script src="/assets/js/markdown/bootstrap-markdown.min.js"></script>
    <script src="/assets/js/jquery.hotkeys.min.js"></script>
    <script src="/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#editor2').css({ 'height': '200px' }).ace_wysiwyg({
                toolbar_place: function(toolbar) {
                    var obj = $(this).closest('.widget-box').find('.widget-header').prepend(toolbar).children(0).addClass('inline');
                    $(this).closest('.widget-box').find(".widget-toolbar").remove();
                    return obj;
                },
                toolbar:
                [
                    'bold',
                    { name: 'italic', title: 'Change Title!', icon: 'icon-leaf' },
                    'strikethrough',
                    null,
                    'insertunorderedlist',
                    'insertorderedlist',
                    null,
                    'justifyleft',
                    'justifycenter',
                    'justifyright'
                ],
                speech_button: false
            });
            $('#id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false
            });
           
        });

        function showReplyTranlationForm(followId) {
            $("input[name=replyfollowId]").val(followId);
            $("#translation_reply_form").show();
            $("#btn_translation_reply").click(function () {
                $("#translationContent").html($('#editor2').html());
                if ($("input[name=replyfollowId]").val().trim() == "") {
                    art.dialog({
                        content: "操作异常",
                        time: 2,
                        lock: true,
                        width: 200
                    });
                    return false;
                }
                if ( $("#translationContent").html().trim() == "") {
                    art.dialog({
                        content: "邮件翻译内容为空",
                        time: 2,
                        lock: true,
                        width: 200
                    });
                    return false;
                }
                $("#translation_reply_form").submit();
            });
        }
    </script>

}