@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Manager/ManagerList\">邮件翻译</a></li><li class=\"active\">未读邮件翻译</li>";
    IList<Intention> intentions = ViewBag.Intentions;
    Manager currentManager = ViewBag.CurrentManager;
    IList<Manager> childManagers = ViewBag.ChildManagers;
}

@using System.Web.UI.WebControls
@using Business.Core
@using Business.Serives
@using Business.Utils
@model Business.Core.PageModel<Business.Core.EmailTranslation>
 
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">已读邮件翻译</h4>
                <div class="widget-toolbar">
                </div>
            </div>
            <div class="widget-body">
                
                <div class="widget-header widget-toolbar-light  widget-box transparent" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                        <span class="btn btn-app btn-light btn-xs  no-border">
                            <input type="checkbox"  class="checkalltranslation"/>全选
                        </span>
                        <span class="btn btn-app btn-light btn-xs" onclick="deletetranslation()">
                            删除
                        </span>
     
     
                         @if (currentManager.ManagerType == ManagerTypeEnum.Super && currentManager.ParentId==0)
                         {
                             <div class="btn-group margin-top-2">
                                 <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                     分配给
                                     <span class="icon-caret-down icon-on-right "></span>
                                 </button>

                                 <ul class="dropdown-menu dropdown-light pull-right width-120">
                                 
                                     @if (childManagers != null && childManagers.Count != 0)
                                     {
                                         foreach (var childManager in childManagers)
                                         {
                                             <li >
                                                 <a href="javascript:;"  onclick="IssueToChildManager('@childManager.Id') ">@childManager.RealName</a>
                                             </li>
                                         }
                                     }
                                 
                                 </ul>
                             </div>
                         }
                         @if (currentManager.ManagerType == ManagerTypeEnum.Common)
                         {

                             <div class="btn-group margin-top-2">
                                 <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                     按意向划分
                                     <span class="icon-caret-down icon-on-right "></span>
                                 </button>

                                 <ul class="dropdown-menu dropdown-light pull-right width-120">
                                     <li>
                                         <a href="/Base/IntentionList">添加意向</a>
                                     </li>
                                     <li class="divider"></li>
                                     @if (intentions != null && intentions.Count != 0)
                                     {
                                         foreach (var item in intentions)
                                         {
                                             <li >
                                                 <a href="/Translation/HasReadTranslationList?intentionId=@item.Id" data-value="@item.Id">@item.Description</a>
                                             </li>
                                         }
                                     }
                                     <li class="divider"></li>
                                     <li >
                                         <a href="/Translation/HasReadTranslationList?intentionId=0">未识别</a>
                                     </li>
                                 </ul>
                             </div>


                             <div class="btn-group margin-top-2">
                                 <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                     移动到
                                     <span class="icon-caret-down icon-on-right "></span>
                                 </button>
        
                                 <ul  aria-activedescendant="ui-id-8" tabindex="0" role="menu" class="display-none dropdown-menu dropdown-light ui-menu ui-widget width-120 ui-widget-content ui-corner-all" id="menu">
                
                                     <li role="presentation" class="ui-menu-item">
                                         <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-7" aria-haspopup="true" href="javascript:;"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>意向客户</a>

                                         <ul aria-expanded="false" aria-hidden="true" role="menu" style="display: none;" class="ui-menu ui-widget ui-widget-content ui-corner-all">
                                             @if (intentions != null && intentions.Count != 0)
                                             {
                                                 foreach (var item in intentions)
                                                 {
                                                     <li role="presentation" class="ui-menu-item"  onclick=" moveTranslation('@item.Id') ">
                                                         <a role="menuitem" tabindex="-1" class="ui-corner-all" href="javascript:;" >@item.Description</a>
                                                     </li>
                                                 }
                                             }
                        
                                         </ul>
                                     </li>
                                     @if (currentManager.ParentId != 0)
                                     {
                                         <li role="presentation" class="ui-menu-item" onclick=" backtomainer() ">
                                             <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-8" href="javascript:;">返回总账号</a>
                                         </li>
                                     }
                   
                                 </ul>

                             </div>
                         }
                    </div>
                </div>
 


                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <span class="lbl">序号</span>
                                    </label>
                                </th>
                                <th>主题</th>
                                <th>提交时间</th>
                                <th class="hidden-480">语言</th>
                                <th>
                                    跟进次数
                                </th>
                                <th class="hidden-480">意向状况</th>

                                <th>处理人</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null &&Model.PageList!=null&& Model.PageList.Count != 0)
                            {
                                foreach (var item in Model.PageList)
                                {
                                    <tr id="data-item(@item.Id)">
                                        <td class="center">
                                            <label>
                                                <input name="translationcheck" value="@item.Id" type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>
                                        <td>
                                           <a href="/Translation/EmailTranslationDetail/@item.Id">@item.Theme</a>
                                        </td>
                                        <td>@item.SendTime</td>
                                        <td class="hidden-480">
                                            @(item.LanguageName??"未识别")
                                        </td>
                                        <td>@item.FollowTimes</td>
                                        <td class="hidden-480">
                                            @item.IntentionDescription
                                        </td>
                                         
                                        <td >
                                           @item.HandlerManagerName
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
                 <div class="widget-header widget-toolbar-light  widget-box transparent margin-top-2" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                        <span class="btn btn-app btn-light btn-xs  no-border">
                            <input type="checkbox"  class="checkalltranslation"/>全选
                        </span>
                        <span class="btn btn-app btn-light btn-xs " onclick="deletetranslation()">
                            删除
                        </span>
                         <ul class="pagination bpagination" id="pagination2"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#menu").menu();
        $(".checkalltranslation").click(function () {
            var checkeds = $(this).is(':checked');
            if (checkeds) {
                $("input[name='translationcheck']").prop("checked", this.checked);
            } else {
                $("input[name='translationcheck']").attr("checked", this.checked);
            }
        });



        var currentIntentionId = '@ViewBag.IntentionId';
        var totalCount = '@Model.TotalCount';
        totalCount = parseInt(totalCount);
        var visiblePages = '@Model.VisiblePages';
        visiblePages = parseInt(visiblePages);
        var currentPage = '@Model.CurrentPage';
        currentPage = parseInt(currentPage);
        var pageSize = 10;
        $.jqPaginator('#pagination2', {
            totalCounts: totalCount,
            visiblePages: visiblePages,
            currentPage: currentPage,
            pageSize: pageSize,
            onPageChange: function (num, type) {
                if (num == currentPage) {
                    //每次初始化都会执行此处
                } else {
                    window.location.href = "/Translation/UnReadTranslationList?intentionId=" + currentIntentionId + "&pageIndex=" + num + "&pageSize=" + pageSize;
                }
            }
        });
    });

    function moveTranslation(intentionId) {
        var transSelected = [];
        $("input[name='translationcheck']:checked").each(function () {
            transSelected.push($(this).val());
        });
        var translationIds = transSelected.join(",");
        $.ajax({
            url: "/Translation/MoveTransToIntention",
            type: "post",
            datatype: "json",
            data: { translationIds: translationIds, intentionId: intentionId },
            success: function (response) {
                window.location.href = "/Translation/UnReadTranslationList?";
            },
            error: function () {

            }
        });
    }

    function backtomainer() {
        var transSelected = [];
        $("input[name='translationcheck']:checked").each(function () {
            transSelected.push($(this).val());
        });
        var translationIds = transSelected.join(",");
        $.ajax({
            url: "/Translation/BackToMainAccount",
            type: "post",
            datatype: "json",
            data: { translationIds: translationIds },
            success: function (response) {
                window.location.href = "/Translation/UnReadTranslationList";
            },
            error: function () {

            }
        });
    }

    function deletetranslation() {
        var transSelected = [];
        $("input[name='translationcheck']:checked").each(function () {
            transSelected.push($(this).val());
        });
        var translationIds = transSelected.join(",");
        $.ajax({
            url: "/Translation/TranslationDelete",
            type: "post",
            datatype: "json",
            data: { translationIds: translationIds },
            success: function (response) {
                window.location.href = "/Translation/UnReadTranslationList?";
            },
            error: function () {

            }
        });
    }

    function IssueToChildManager(id) {
        var transSelected = [];
        $("input[name='translationcheck']:checked").each(function () {
            transSelected.push($(this).val());
        });
        var translationIds = transSelected.join(",");
        $.ajax({
            url: "/Translation/IssueToChildManager",
            type: "post",
            datatype: "json",
            data: { translationIds: translationIds, managerId: id },
            success: function (response) {
                window.location.href = "/Translation/UnReadTranslationList";
            },
            error: function () {

            }
        });
    }
</script>
