@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Enquiry/UnReadEnquiryList\">询盘中心</a></li><li class=\"active\">询盘详细信息</li>";
    IList<Business.Core.Intention> intentions = ViewBag.Intentions;
    IList<Business.Core.UserDefined> userDefineds = ViewBag.UserDefineds;
    Business.Core.Manager currentManager = ViewBag.CurrentManager;
}
@model Business.Web.PageModel.PageEnquiry
@if (Model != null &&Model.Enquiry!=null)
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box  no-border">
                <div class="widget-header widget-toolbar-light  widget-box transparent" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                         
                        @if (Model.Enquiry.IsDeleted == Business.Utils.CoreDefaultValue.True)
                        {
                            <span class="btn btn-app btn-light btn-xs" onclick="recoveryEnquiry('@Model.Enquiry.Id')">
                                恢复
                            </span>
                        }
                        else
                        {
                            <span class="btn btn-app btn-light btn-xs" onclick="deleteEnquiry('@Model.Enquiry.Id') ">
                                删除
                            </span>
                        }
     
                        <div class="btn-group margin-top-2">
                            <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                移动到
                                <span class="icon-caret-down icon-on-right "></span>
                            </button>
        
                            <ul  aria-activedescendant="ui-id-8" tabindex="0" role="menu" class="display-none dropdown-menu dropdown-light ui-menu ui-widget width-120 ui-widget-content ui-corner-all" id="menu">
                
                                <li role="presentation" class="ui-menu-item">
                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-7" aria-haspopup="true" href="javascript:;"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>意向客户</a>

                                    <ul aria-expanded="false" aria-hidden="true" role="menu" style="display: none;" class="ui-menu ui-widget ui-widget-content ui-corner-all">
                                        @if (intentions != null && intentions.Count != 0)
                                        {
                                            foreach (var item in intentions)
                                            {
                                                <li role="presentation" class="ui-menu-item"  onclick="moveTranslation('@item.Id','@Model.Enquiry.Id')">
                                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" href="javascript:;" >@item.Description</a>
                                                </li>
                                            }
                                        }
                        
                                    </ul>
                                </li>
                                
                                 <li role="presentation" class="ui-menu-item">
                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-7" aria-haspopup="true" href="javascript:;"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>自定义</a>

                                    <ul aria-expanded="false" aria-hidden="true" role="menu" style="display: none;" class="ui-menu ui-widget ui-widget-content ui-corner-all">
                                        @if (userDefineds != null && userDefineds.Count != 0)
                                        {
                                            foreach (var item in userDefineds)
                                            {
                                                <li role="presentation" class="ui-menu-item"  onclick="moveUserdeined('@item.Id')">
                                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" href="javascript:;" >@item.Description</a>
                                                </li>
                                            }
                                        }
                        
                                    </ul>
                                </li>

                                @if (currentManager.ParentId != 0)
                                {
                                    <li role="presentation" class="ui-menu-item" onclik="backtomainer('@Model.Enquiry.Id')">
                                        <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-8" href="javascript:;">返回总账号</a>
                                    </li>
                                }
                   
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="widget-body ">
                    <div class="space-4"></div>
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户预购产品： </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.Enquiry.ProductUrl &nbsp;</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户EMAIL： </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.Enquiry.PurchaserEmail &nbsp; </span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户姓名: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.PurchaserUserName &nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户电话: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.PurchaserTel &nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户公司名称: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.PurchaserCompany &nbsp;</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户MSN/SKYPE: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.PurchaserMsn &nbsp;</span>
                            </div>
                        </div>
                        
                        
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 客户地址: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.PurchaserCountry &nbsp;</span>
                            </div>
                        </div>
                        
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 询盘发送时间: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.EnquiryTime &nbsp;</span>
                            </div>
                        </div>
                        
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 询盘来源页面: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.ProductUrl  &nbsp;</span>
                            </div>
                        </div>
                        
                        
                        <div class="profile-info-row">
                            <div class="profile-info-name"> 使用语言: </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age"> @Model.Enquiry.VisitLanguage &nbsp;</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"> 询盘内容： </div>
                            <div class="profile-info-value">
                                <span class="editable " id="signup"> &nbsp;
                                    @(new MvcHtmlString(Model.Enquiry.EnquiryContent))
                                </span>
                            </div>
                        </div>
                    </div>
                    @{
                        int index = 0;
                    }
                    @if (Model.EnquiryTransFollows != null && Model.EnquiryTransFollows.Count != 0)
                    {
                        foreach (var item in Model.EnquiryTransFollows)
                        {
                            index = index + 1;
                            <div class="space-4"></div>
                            <div class="profile-user-info profile-user-info-striped">

                                <div class="profile-info-row">
                                    <table  class="translationfoor">
                                        <tr>
                                            <td rowspan="4" class="lefrtr">@(index)F</td>
                                            <td class="rightheader">原文:</td>
                                        </tr>
                                        <tr>
                                            <td class="rightcontent">@(new MvcHtmlString(item.OriginalContent)) &nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="rightheader">译文:
                                       
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="rightcontent">
                                                @if (string.IsNullOrEmpty(item.TargetContent))
                                                {
                                                    item.TargetContent = "&nbsp;<br/><br/><br/><br/>";
                                                }
                                                @(new MvcHtmlString(item.TargetContent))
                                            
                                            </td>
                                        </tr>
                                    </table>
                           
                                </div>
                
                            </div>
                        }
                    }
                    <div class="space-4"></div>
                

                    <div class="profile-user-info profile-user-info-striped">
                        <form class="form-horizontal margin-20" id="enquiryEmail_form" method="post" action="/Enquiry/SendEnquiryEmail" enctype="multipart/form-data"   role="form">
                            @if (@Model.EmailTranslation != null)
                            {
                                <input type="hidden" name="emailTranslationId" value="@Model.EmailTranslation.Id" />
                            }
                            else
                            {
                                <input type="hidden" name="emailTranslationId" value="0" />
                            }
                           
                            <input type="hidden" name="enquiryId" value="@Model.Enquiry.Id" />
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <div class="widget-box">
                                        <div class="widget-header widget-header-small  header-color-green ">
                                            <div class="widget-toolbar">
                                                <a href="#" data-action="collapse">
                                                    <i class="icon-chevron-up"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <textarea name="emailContent" class="hidden" id="emailContent"></textarea>
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div class="wysiwyg-editor" id="editor2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="space-4"></div> 
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="id-input-file-2">添加附件: </label>
                                <div class="col-sm-4">
                                    <input type="file" name="translationFile" id="id-input-file-2" />
                                    <span class="help-inline col-xs-12 col-sm-10">
                                        <span class="middle red">上传多个文件时请压缩上传,文件不超过5M</span>
                                    </span>                          
                                </div>
                            </div>
             
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-1 col-md-9">
                                      
                                    <button id="btn_translation_reply" class="btn btn-info" type="button">
                                        <i class="icon-ok bigger-110"></i>
                                        转ETW国际翻译
                                    </button>
                                      
                                </div>
                            </div>
                        </form>
                    </div>
                    
                  
                   
                    <div class="space-4"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/markdown/markdown.min.js"></script>
    <script src="/assets/js/markdown/bootstrap-markdown.min.js"></script>
    <script src="/assets/js/jquery.hotkeys.min.js"></script>
    <script src="/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#editor2').css({ 'height': '200px' }).ace_wysiwyg({
                toolbar_place: function(toolbar) {
                    var obj = $(this).closest('.widget-box').find('.widget-header').prepend(toolbar).children(0).addClass('inline');
                    $(this).closest('.widget-box').find(".widget-toolbar").remove();
                    return obj;
                },
                toolbar:
                [
                    'bold',
                    { name: 'italic', title: 'Change Title!', icon: 'icon-leaf' },
                    'strikethrough',
                    null,
                    'insertunorderedlist',
                    'insertorderedlist',
                    null,
                    'justifyleft',
                    'justifycenter',
                    'justifyright'
                ],
                speech_button: false
            });
            $('#id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false
            });

            $("#btn_translation_reply").click(function() {
                $("#emailContent").html($('#editor2').html());
                if ($("#emailContent").html().trim() == "") {
                    art.dialog({
                        content: "邮件翻译内容为空",
                        time: 2,
                        lock: true,
                        width: 200
                    });
                    return false;
                }
                $("#enquiryEmail_form").submit();
            });
        });


        function moveTranslation(intentionId, enquiryId) {
            $.ajax({
                url: "/Enquiry/MoveEnquiryToIntention",
                type: "post",
                datatype: "json",
                data: { enquiryIds: enquiryId, intentionId: intentionId },
                success: function (response) {
                    window.location.href = "/Enquiry/EnquiryDetail/"+@Model.Enquiry.Id;
                },
                error: function () {

                }
            });
        }

        function moveUserdeined(userDefinedId, enquiryId) {
            $.ajax({
                url: "/Enquiry/MoveEnquiryToUserDefined",
                type: "post",
                datatype: "json",
                data: { enquiryIds: enquiryId, userDefinedId: userDefinedId },
                success: function (response) {
                     window.location.href = "/Enquiry/EnquiryDetail/"+@Model.Enquiry.Id;
                },
                error: function () {

                }
            });
        }


        function backtomainer(enquiryId) {
            $.ajax({
                url: "/Enquiry/IssueEnquiryToParentManager",
                type: "post",
                datatype: "json",
                data: { enquiryIds: enquiryId },
                success: function (response) {
                     window.location.href = "/Enquiry/EnquiryDetail/"+@Model.Enquiry.Id;
                },
                error: function () {

                }
            });
        }

        function recoveryEnquiry(enquiryId) {
            $.ajax({
                url: "/Enquiry/RecoveryEnquiry",
                type: "post",
                datatype: "json",
                data: { enquiryIds: enquiryId },
                success: function (response) {
                     window.location.href = "/Enquiry/EnquiryDetail/"+@Model.Enquiry.Id;
                },
                error: function () {

                }
            });
        }

        function deleteEnquiry(enquiryId) {
         
            $.ajax({
                url: "/Enquiry/EnquiryDelete",
                type: "post",
                datatype: "json",
                data: { enquiryIds: enquiryId },
                success: function (response) {
                    window.location.href = "/Enquiry/EnquiryDetail/"+@Model.Enquiry.Id;
                },
                error: function () {

                }
            });
        }
    </script>

}