@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Manager/ManagerList\">询盘中心</a></li><li class=\"active\">未读询盘</li>";
    IList<Intention> intentions = ViewBag.Intentions;
    IList<UserDefined> userDefineds = ViewBag.UserDefineds;
    Manager currentManager = ViewBag.CurrentManager;
    IList<Manager> childManagers = ViewBag.ChildManagers;
    IList<ManagerMainSite> languages = ViewBag.Languages;
    long currentLanguageId = ViewBag.CurrentLanguageId;
    long currentIntentionId = ViewBag.CurrentIntentionId;
    long currentUserDefinedId = ViewBag.CurrentUserdefinedId;
    string currentEmail = ViewBag.CurrentEmail;
}

@using System.Web.UI.WebControls
@using Business.Core
@using Business.Serives
@using Business.Utils
@model Business.Core.PageModel<Business.Core.Enquiry>
 
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">已读询盘</h4>
                <div class="widget-toolbar">
                </div>
            </div>
            <div class="widget-body">
                 <div class="widget-header widget-toolbar-light  widget-box transparent" style="padding-left: 0px;">
                            <div class="widget-toolbar float-none  no-border">
                                <label class="col-sm-1 control-label text-right" for="form-field-email">访客邮箱: </label>
                        
                                <input id="form-field-email" name="email" placeholder="访客邮箱"  value="@currentEmail" class="col-xs-10 col-sm-3  height-35" type="text">
                        
                                <span onclick="enquiryQuery()" class="btn btn-app btn-light btn-xs  no-border">
                                    查询
                                </span>
                            </div>
                          </div>
                <div class="widget-header widget-toolbar-light  widget-box transparent" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                        <span class="btn btn-app btn-light btn-xs  no-border">
                            <input type="checkbox"  class="checkalltranslation"/>全选
                        </span>
                        <span class="btn btn-app btn-light btn-xs" onclick="deleteEnquiry()">
                            删除
                        </span>
     
     
                      
                             <div class="btn-group margin-top-2">
                                 <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                     语言
                                     <span class="icon-caret-down icon-on-right "></span>
                                 </button>

                                 <ul class="dropdown-menu dropdown-light pull-right width-120">
                                 
                                     @if (languages != null && languages.Count != 0)
                                     {
                                         foreach (var language in languages)
                                         {
                                             <li >
                                                 <a href=" /Enquiry/HasReadEnquiryList?email=@currentEmail&intentionId=@currentIntentionId&languageId=@language.LanguageId&userDefinedId=@currentUserDefinedId">@language.LanguageName</a>
                                             </li>
                                         }
                                     }
                                     <li class="divider"></li>
                                     <li >
                                        <li >
                                                 <a href=" /Enquiry/HasReadEnquiryList?email=@currentEmail&intentionId=@currentIntentionId&userDefinedId=@currentUserDefinedId">未识别</a>
                                     </li>
                                 </ul>
                             </div>
                         
                        

                        <div class="btn-group margin-top-2">
                            <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                按意向划分
                                <span class="icon-caret-down icon-on-right "></span>
                            </button>

                            <ul class="dropdown-menu dropdown-light pull-right width-120">
                                <li>
                                    <a href="/Base/IntentionList">添加意向</a>
                                </li>
                                <li class="divider"></li>
                                @if (intentions != null && intentions.Count != 0)
                                {
                                    foreach (var item in intentions)
                                    {
                                        <li >
                                          <a href="/Enquiry/HasReadEnquiryList?email=@currentEmail&intentionId=@item.Id&languageId=@currentLanguageId&userDefinedId=@currentUserDefinedId">@item.Description</a>
                                        </li>
                                    }
                                }
                                <li class="divider"></li>
                                <li >
                                    <a href="/Enquiry/HasReadEnquiryList?email=@currentEmail&languageId=@currentLanguageId&userDefinedId=@currentUserDefinedId">未识别</a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group margin-top-2">
                            <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                自定义
                                <span class="icon-caret-down icon-on-right "></span>
                            </button>

                            <ul class="dropdown-menu dropdown-light pull-right width-120">
                                <li>
                                    <a href="/Base/UserDefinedList">添加自定义</a>
                                </li>
                                <li class="divider"></li>
                                @if (userDefineds != null && userDefineds.Count != 0)
                                {
                                    foreach (var item in userDefineds)
                                    {
                                        <li >
                                           <a href="/Enquiry/HasReadEnquiryList?email=@currentEmail&intentionId=@currentIntentionId&languageId=@currentLanguageId&userDefinedId=@item.Id">@item.Description</a>
                                        </li>
                                       
                                    }
                                }
                                <li class="divider"></li>
                                <li >
                                         <a href="/Enquiry/HasReadEnquiryList?email=@currentEmail&intentionId=@currentIntentionId&languageId=@currentLanguageId">未识别</a>
                                </li>
                            </ul>
                        </div>
                        

       
                        <div class="btn-group margin-top-2">
                            <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                移动到
                                <span class="icon-caret-down icon-on-right "></span>
                            </button>
        
                            <ul  aria-activedescendant="ui-id-8" tabindex="0" role="menu" class="display-none dropdown-menu dropdown-light ui-menu ui-widget width-120 ui-widget-content ui-corner-all" id="menu">
                
                                <li role="presentation" class="ui-menu-item">
                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-7" aria-haspopup="true" href="javascript:;"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>意向客户</a>

                                    <ul aria-expanded="false" aria-hidden="true" role="menu" style="display: none;" class="ui-menu ui-widget ui-widget-content ui-corner-all">
                                        @if (intentions != null && intentions.Count != 0)
                                        {
                                            foreach (var item in intentions)
                                            {
                                                <li role="presentation" class="ui-menu-item"  onclick="moveTranslation('@item.Id')">
                                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" href="javascript:;" >@item.Description</a>
                                                </li>
                                            }
                                        }
                        
                                    </ul>
                                </li>
                                
                                <li role="presentation" class="ui-menu-item">
                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-7" aria-haspopup="true" href="javascript:;"><span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span>自定义</a>

                                    <ul aria-expanded="false" aria-hidden="true" role="menu" style="display: none;" class="ui-menu ui-widget ui-widget-content ui-corner-all">
                                        @if (userDefineds != null && userDefineds.Count != 0)
                                        {
                                            foreach (var item in userDefineds)
                                            {
                                                <li role="presentation" class="ui-menu-item"  onclick="moveUserdeined('@item.Id')">
                                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" href="javascript:;" >@item.Description</a>
                                                </li>
                                            }
                                        }
                        
                                    </ul>
                                </li>


                                <li role="presentation" class="ui-menu-item"  onclick="backtomainer()">
                                    <a role="menuitem" tabindex="-1" class="ui-corner-all" id="ui-id-8" href="javascript:;">返回总账号</a>
                                </li>

                   
                            </ul>

                        </div>
                        
                       
                         <div class="btn-group margin-top-2">
                            <button data-toggle="dropdown" class="btn btn-light width-120 dropdown-toggle margin-top-2 common-height">
                                分配到
                                <span class="icon-caret-down icon-on-right "></span>
                            </button>

                            <ul class="dropdown-menu dropdown-light pull-right width-120">
                                
                                @if (childManagers != null && childManagers.Count != 0)
                                {
                                    foreach (var item in childManagers)
                                    {
                                        <li onclick="issueEnquiryToManager('@item.Id')">
                                            <a href="javascript:;" >@item.RealName</a>
                                        </li>
                                    }
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
 


                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <span class="lbl">序号</span>
                                    </label>
                                </th>
                                <th>客户预购的产品</th>
                                <th>E-mail</th>
                                <th class="hidden-480">收件时间</th>
                                <th>
                                    语言
                                </th>
                                <th class="hidden-480">跟进次数</th>
                                 <th>国家</th>
                                <th>意向状况</th>
                                <th>账户类型</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null &&Model.PageList!=null&& Model.PageList.Count != 0)
                            {
                                int index = 0;
                                foreach (var item in Model.PageList)
                                {
                                    index++;
                                    <tr id="data-item(@item.Id)">
                                        <td class="center">
                                            <label>
                                                <input name="qneuirycheck" value="@item.Id" type="checkbox" class="ace" />
                                                <span class="lbl">@index</span>
                                            </label>
                                        </td>

                                        <td  title="@item.ProductUrl">
                                            <a href="/Enquiry/EnquiryDetail/@item.Id" title="@item.ProductUrl">@item.ProductUrl.Substring(0,20)</a>
                                        </td>
                                        <td>@item.PurchaserEmail
                                           @if (item.EnquiryTimes > 1)
                                           {
                                                @:(@item.EnquiryTimes)
                                           }
                                        </td>
                                        <td class="hidden-480">
                                            @item.EnquiryTime
                                        </td>
                                        <td>@item.VisitLanguage</td>
                                        <td class="hidden-480">
                                            @item.FollowUpTimes
                                        </td>
                                        <td >
                                            @item.PurchaserCountry 
                                        </td> 
                                        
                                        <td >
                                            @item.IntentionName
                                        </td>
                                        
                                        <td >
                                            @item.HandlerName
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
                 <div class="widget-header widget-toolbar-light  widget-box transparent margin-top-2" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                        <span class="btn btn-app btn-light btn-xs  no-border">
                            <input type="checkbox"  class="checkalltranslation"/>全选
                        </span>
                        <span class="btn btn-app btn-light btn-xs " onclick="deleteEnquiry()">
                            删除
                        </span>
                         <ul class="pagination bpagination" id="pagination2"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var currentIntentionId = '@currentIntentionId';
    var currentLanguageId = '@currentLanguageId';
    var currentUserdefinedId = '@currentUserDefinedId';
    currentIntentionId = parseInt(currentIntentionId);
    currentLanguageId = parseInt(currentLanguageId);
    currentUserdefinedId = parseInt(currentUserdefinedId);
    var currentEmail = '@currentEmail';
    var pageSize = 10;
    
    $(function () {
        $("#menu").menu();
        $(".checkalltranslation").click(function () {
            var checkeds = $(this).is(':checked');
            if (checkeds) {
                $("input[name='qneuirycheck']").attr("checked", this.checked);
            } else {
                $("input[name='qneuirycheck']").attr("checked", this.checked);
            }
        });
        var totalCount = '@Model.TotalCount';
        totalCount = parseInt(totalCount);
        var visiblePages = '@Model.VisiblePages';
        visiblePages = parseInt(visiblePages);
        var currentPage = '@Model.CurrentPage';
        currentPage = parseInt(currentPage);
        $.jqPaginator('#pagination2', {
            totalCounts: totalCount,
            visiblePages: visiblePages,
            currentPage: currentPage,
            pageSize: pageSize,
            onPageChange: function (num, type) {
                if (num == currentPage) {
                    //每次初始化都会执行此处
                } else {
                    window.location.href = "/Enquiry/HasReadEnquiryList?email="+currentEmail+"&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
                }
            }
        });
    });

    function moveTranslation(intentionId) {
        var enquirySelected = [];
        $("input[name='qneuirycheck']:checked").each(function () {
            enquirySelected.push($(this).val());
        });
        var enquirySelectedIds = enquirySelected.join(",");
        $.ajax({
            url: "/Enquiry/MoveEnquiryToIntention",
            type: "post",
            datatype: "json",
            data: { enquiryIds: enquirySelectedIds, intentionId: intentionId },
            success: function (response) {
                window.location.href = "/Enquiry/HasReadEnquiryList?email=" + currentEmail + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
            },
            error: function () {

            }
        });
    }

    function backtomainer() {
        var enquirySelected = [];
        $("input[name='qneuirycheck']:checked").each(function () {
            enquirySelected.push($(this).val());
        });
        var enquiryIds = enquirySelected.join(",");
        $.ajax({
            url: "/Enquiry/IssueEnquiryToParentManager",
            type: "post",
            datatype: "json",
            data: { enquiryIds: enquiryIds },
            success: function (response) {
                window.location.href = "/Enquiry/HasReadEnquiryList?email=" + currentEmail + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
            },
            error: function () {

            }
        });
    }

    function deleteEnquiry() {
        var enquirySelected = [];
        $("input[name='qneuirycheck']:checked").each(function () {
            enquirySelected.push($(this).val());
        });
        var enquiryIds = enquirySelected.join(",");
        $.ajax({
            url: "/Enquiry/EnquiryDelete",
            type: "post",
            datatype: "json",
            data: { enquiryIds: enquiryIds },
            success: function (response) {
                window.location.href = "/Enquiry/HasReadEnquiryList?email=" + currentEmail + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
            },
            error: function () {

            }
        });
    }

    function moveUserdeined(userdefined) {
        var enquirySelected = [];
        $("input[name='qneuirycheck']:checked").each(function () {
            enquirySelected.push($(this).val());
        });
        var enquirySelectedIds = enquirySelected.join(",");
        $.ajax({
            url: "/Enquiry/MoveEnquiryToUserDefined",
            type: "post",
            datatype: "json",
            data: { enquiryIds: enquirySelectedIds, userDefinedId: userdefined },
            success: function (response) {
                window.location.href = "/Enquiry/HasReadEnquiryList?email=" + currentEmail + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
            },
            error: function () {

            }
        });
    }

    function issueEnquiryToManager(managerId) {
        var enquirySelected = [];
        $("input[name='qneuirycheck']:checked").each(function () {
            enquirySelected.push($(this).val());
        });
        var enquirySelectedIds = enquirySelected.join(",");
        $.ajax({
            url: "/Enquiry/IssueEnquiryToChildManager",
            type: "post",
            datatype: "json",
            data: { enquiryIds: enquirySelectedIds, managerId: managerId },
            success: function (response) {
                window.location.href = "/Enquiry/HasReadEnquiryList?email=" + currentEmail + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageSize=" + pageSize;
            },
            error: function () {

            }
        });
    }

    function enquiryQuery() {
        var email = $("input[name=email]").val().trim();
        if (email != "") {
            window.location.href = "/Enquiry/HasReadEnquiryList?email=" + email + "&intentionId=" + currentIntentionId + "&languageId=" + currentLanguageId + "&userDefinedId=" + currentUserdefinedId + "&pageIndex=1&pageSize=" + pageSize;
        }
    }
</script>
