@{
    ViewBag.Title = "<li class=\"active\">基础数据</li>";
    ValueTypeEnum valueTypes = ViewBag.ValueType;
}
@using Business.Core
@model Business.Web.PageModel.PageDictionary
 
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="lighter">基础数据列表</h4>
                <div class="widget-toolbar">
                    <label>
                        <small class="green">
                            <b></b>
                        </small>

                        <span onclick="window.location.href='/Base/DictionaryAdd'" class="btn btn-app btn-light btn-xs  no-border">
                            添加
                        </span>
                    </label>
                </div>
            </div>
           
            <div class="widget-body">
                <div class="widget-header widget-toolbar-light  widget-box transparent" style="padding-left: 0px;">
                    <div class="widget-toolbar float-none  no-border">
                        
                        <label class="col-sm-1 control-label text-right" for="form-field-select-1">值类型: </label>
                        <select name="language" class="form-control col-xs-6 col-sm-3 width-20" id="form-field-select-1">
                          @if (Model.ValueTypes != null && Model.ValueTypes.Count != 0)
                          {
                              foreach (var valueType in Model.ValueTypes)
                              {
                                  if (valueTypes == valueType.Key)
                                  {
                                      <option value="@((short)valueType.Key)" selected="true">@valueType.Value</option>
                                  }
                                  else
                                  {
                                        <option value="@((short)valueType.Key)">@valueType.Value</option>
                                  }
                              }
                          }
                        </select>
                        <div class="space-4"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <span class="lbl">序号</span>
                                    </label>
                                </th>
                                <th>数据值</th>
                                <th>数据类型</th>
                                <th>描述</th>
                                <th>
                                    排序
                                </th>
                                <th class="hidden-480">操作人</th>

                                <th>操作</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.BaseDictionaries != null && Model.BaseDictionaries.Count != 0)
                            {
                                int index = 0;
                                foreach (var item in Model.BaseDictionaries)
                                {
                                    index++;
                                    <tr id="data-item(@item.Id)">
                                        <td class="center">
                                            <label>
                                                <span class="lbl">@index</span>
                                            </label>
                                        </td>
                                            <td>
                                             @item.Value
                                        </td>
                                        <td>
                                            @Business.Utils.EnumTools.GetEnumDescription(item.ValueType)
                                        </td>
                                        <td>@item.Description</td>
                                        <td>@item.DicId</td>
                                        <td class="hidden-480">
                                            @item.Operator
                                        </td>

                                        <td >
                                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                <button class="btn btn-xs btn-info" onclick=" window.location.href = '/Manager/ManagerEdit/@item.Id' ">
                                                    <i class="icon-edit bigger-120"></i>编辑
                                                </button>
                                                <button class="btn btn-xs btn-danger" onclick="deleteItem('@item.Id')">
                                                    <i class="icon-trash bigger-120"></i>删除
                                                </button>
                                            </div>

                                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-cog icon-only bigger-110"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                                <span class="blue">
                                                                    <i class="icon-zoom-in bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                <span class="green">
                                                                    <i class="icon-edit bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                <span class="red">
                                                                    <i class="icon-trash bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->

            </div>
                </div>
    </div>
</div>

<script type="text/javascript">

    $(function() {
        $("#form-field-select-1").change(function() {
            window.location.href = "/Base/DictionaryList?valueType="+$(this).val();
        });

    });

    function deleteItem(id) {
        art.dialog({
            icon: "question",
            content: "确定删除该数据？",
            ok: function () {
                $.ajax({
                    url: "/Base/DictionaryDelete",
                    type: "post",
                    datatype: "json",
                    data: { id: id },
                    success: function (response) {
                        window.location.href = "/Base/DictionaryList";
                    },
                    error: function () {

                    }

                });
            },
            cancelVal: '关闭',
            cancel: true,
            lock: true
        });
    }
     
</script>