@{
    ViewBag.Title = "用户意向";
}
@model IList<Business.Core.UserDefined> 
<form class="form-horizontal" method="post" action="/Base/UserDefinedAdd" id="intenttion_form">
    <div class="form-group">
        <label class="col-sm-1    control-label no-padding-right" for="form-field-1">&nbsp; 自定义名称：</label>
        <div class="col-sm-3">
            <input id="form-field-1" name="description" placeholder="自定义名称" class="col-xs-12 col-sm-12" type="text">
        </div>
        <button type="button" id="btn_intention_add" class="btn btn-sm btn-success btn-light  col-sm-1 margin-top-2">
            添加												 
        </button>
    </div>
</form>
<div class="table-responsive">
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center col-sm-2">
                    <label>
                        <span class="lbl">序号</span>
                    </label>
                </th>
                <th class="center ">自定义名称</th>
                <th class="center col-sm-2" >操作</th>
            </tr>
        </thead>
        <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int index = 0;
            foreach (var item in Model)
            {
                index++;
                 <tr id="data-item(@item.Id)">
                     <td class="center">
                         <label> 
                             <span class="lbl">@index</span>
                         </label>
                     </td>

                     <td class="center">
                          @item.Description
                     </td>
               
                     <td >
                         <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                             <button class="btn btn-xs btn-info" onclick="modifyUserDefined('@item.Id','@item.Description')">
                                 <i class="icon-edit bigger-120"></i>修改
                             </button>

                             <button class="btn btn-xs btn-danger" onclick="deleteItem('@item.Id') ">
                                 <i class="icon-trash bigger-120"></i>删除
                             </button>
 
                         </div>

                         <div class="visible-xs visible-sm hidden-md hidden-lg">
                             <div class="inline position-relative">
                                 <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                     <i class="icon-cog icon-only bigger-110"></i>
                                 </button>

                                 <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                     <li>
                                         <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                             <span class="blue">
                                                 <i class="icon-zoom-in bigger-120"></i>
                                             </span>
                                         </a>
                                     </li>

                                     <li>
                                         <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                             <span class="green">
                                                 <i class="icon-edit bigger-120"></i>
                                             </span>
                                         </a>
                                     </li>

                                     <li>
                                         <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                             <span class="red">
                                                 <i class="icon-trash bigger-120"></i>
                                             </span>
                                         </a>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </td>
                 </tr>
             }
        }
        </tbody> 
    </table>
</div><!-- /.table-responsive -->


<div class="form-group" id="modifyIntentionDiv" style="display: none;" >
   <label class="col-sm-3 text-right  control-label no-padding-right" for="form-field-1">名称：</label>
        <input name="userdefinedId_modify" type="hidden"/>
     <div class="col-sm-6">
    <input id="form-field-1"  name="description_modify" class="col-xs-6 col-sm-12" placeholder="自定义名称"  type="text">
    </div>
    <button type="button" id="btn_intention_modify" class="btn btn-sm btn-success btn-light margin-top-2">
           修改													 
        </button>
</div>

<script type="text/javascript">
    $(function() {
        $("#btn_intention_add").click(function() {
            if ($("input[name=description]").val().trim() != "") {
                $("form").submit();
            }
        });

    });

    function modifyUserDefined(id, description) {
        $("input[name=description_modify]").val(description);
        $("input[name=userdefinedId_modify]").val(id);
        $("#btn_intention_modify").click(function() {
            var description_modify= $("input[name=description_modify]").val().trim();
            var userdefinedId_modify = $("input[name=userdefinedId_modify]").val().trim();
            if (userdefinedId_modify == "" || description_modify == "") {
                art.dialog({
                    content: '提交数据不能为空！',
                    time: 2,
                    lock: true
                });
                return false;
            }
            $.ajax({
                url: "/Base/UserDefinedEdit",
                type: "post",
                dataType:"json",
                data: { id: userdefinedId_modify, description: description_modify },
                success:function(reponse) {
                     if (reponse.Code == 0) {
                         window.location.href = "/Base/UserDefinedList";
                     } else {
                         art.dialog({
                             content: '数据处理异常，请稍后重试！',
                             time:2,
                             lock:true
                         });
                     }
                },
                error:function(){}
            });
        });
        art.dialog({
            id: "KHIFEWF001",
            title: "修改自定义",
            content: document.getElementById("modifyIntentionDiv"),
            lock: true,
            width: 420,
            close: function() {
                $("input[name=description_modify]").val("");
                $("input[name=UserDefinedDelete]").val("");
            }
        });
    }

    function deleteItem(id) {
        art.dialog({
            icon: "question",
            content: "确定删除该数据？",
            ok: function () {
                this.close();
                window.location.href = "/Base/UserDefinedDelete/" + id;
            },
            cancelVal: '关闭',
            cancel: true,
            lock: true
        });
    }
</script> 
 