@{
    ViewBag.Title = "<li><i class=\"\"></i><a href=\"/Manager/ManagerList\">服务中心</a></li><li class=\"active\">编辑用户主站</li>";
    IList<Business.Core.Manager> commonManagers = ViewBag.CommonManagers;
    IList<Business.Core.BaseDictionary> baseDictionaries = ViewBag.BaseDictionaries;
}
@model  Business.Core.ManagerMainSite
@if (Model != null)
{
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="lighter">添加用户主站</h4>
                    <div class="widget-toolbar">
                        <label>
                            <small class="green">
                                <b></b>
                            </small>

                            <span onclick=" window.location.href = '/Manager/ManagerMainSiteList' " class="btn btn-app btn-light btn-xs  no-border">
                                返回
                            </span>
                        </label>
                    </div>
                </div>
                <div class="widget-body">
                    <form class="form-horizontal" id="mainSite_edit_form" enctype="multipart/form-data"   role="form">
                        <input type="hidden" value="@Model.Id" name="mainSiteId"/>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">用户: </label>

                            <div class="col-sm-9">
                                <select name="managerId" class="form-control col-xs-8 col-sm-4 width-30" id="form-field-select-1">
                                    @if (commonManagers != null && commonManagers.Count != 0)
                                    {
                                        foreach (var item in commonManagers)
                                        {
                                            if (Model.ManagerId == item.Id)
                                            {
                                                <option value="@(item.Id)" selected="true">@item.RealName</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Id)">@item.RealName</option>
                                            }
                                        }
                                    }
                                </select>
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle red">*</span>
                                </span>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站名称: </label>

                            <div class="col-sm-9">
                                <input id="form-field-2" name="siteName" value="@Model.SiteName" placeholder="网站名称" class="col-xs-10 col-sm-9" type="text">
                                <span class="help-inline col-xs-12 col-sm-2">
                                    <span class="middle red">*</span>
                                </span>
                            </div>
                        </div>

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站地址: </label>

                            <div class="col-sm-9">
                                <input id="form-field-2" name="siteUrl" value="@Model.SiteUrl" placeholder="网站地址" class="col-xs-10 col-sm-9" type="text">
                                <span class="help-inline col-xs-12 col-sm-2">
                                    <span class="middle red">*</span>
                                </span>
                            </div>
                        </div>
                    
                 

                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-select-1">网站语言: </label>

                            <div class="col-sm-9">
                                <select name="language" class="form-control col-xs-8 col-sm-4 width-30" id="form-field-select-1">
                                    @if (baseDictionaries != null && baseDictionaries.Count != 0)
                                    {
                                        foreach (var item in baseDictionaries)
                                        {
                                            if (Model.LanguageId == item.Id)
                                            {
                                                <option value="@(item.Id)" selected="true">@item.Value</option>
                                            }
                                            else
                                            {
                                                <option value="@(item.Id)">@item.Value</option>
                                            }
                                        }
                                    }
                                </select>
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle red">*</span>
                                </span>
                            </div>
                        </div>
                    
                   
                 
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn_managermainSite_edit" class="btn btn-info" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                             
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                                <span class="middle">（红色为必填项）</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("#btn_managermainSite_edit").click(function () {
                if (formValidate()) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/Manager/ManagerMainSiteEdit",
                        data: $('#mainSite_edit_form').serialize(),
                        success: function(response) {
                            art.dialog({
                                content: response.Description,
                                time: 3,
                                lock: true,
                                close: function() {
                                    if (response.Code == 0) {
                                        window.location.href = "/Manager/ManagerMainSiteList";
                                    }
                                }
                            });

                        },
                        error: function(data) {
                            art.dialog({
                                content: "error:" + data.responseText,
                                time: 2,
                                lock: true
                            });
                        }
                    });
                }
            });

            function formValidate() {
                var siteName = $("input[name=siteName]").val().trim();
                if (siteName == "") {
                    art.dialog({
                        content: "网站名称为空", time: 2, width: 200, lock: true
                    });
                    return false;
                }
                var siteUrl = $("input[name=siteUrl]").val().trim();
                if (siteUrl == "") {
                    art.dialog({
                        content: "网站地址为空", time: 2, width: 200, lock: true
                    });
                    return false;
                }
                return true;
            }
        });

    </script>
}